.counterContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
}
.buttonGroup{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 50px;
    box-shadow: 1px 1px 5px #3f51b5;
    border-radius: 5px;
    margin-top: 10px;
}
.buttonGroup button{
    margin: 10px;
}
.displayAndButtons{
    display: flex;
    flex-direction: column;
}