.settingsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: max-content;
    box-shadow: 1px 1px 5px #3f51b5;
    border-radius: 5px;
    margin: 10px;
}
.inputContainer{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.buttonContainer{
    display: flex;
}
.buttonContainer button{
    margin: 10px;
}
.title{
    color: #3f51b5;
    margin: 10px;
}
